.searchBoxContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar{
    width: 100%;
    max-width: 400px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchBar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.searchBar button span{
    background: transparent;
}